<mat-toolbar color="primary">
  <span style="margin-right: auto; font-weight: bold">📱 Telefonfix</span>
  <span class="nav-buttons">
    <a mat-button routerLink="/">Főoldal</a>
    <a mat-button routerLink="/products">Termékek</a>
    <a mat-button routerLink="/cart" class="cart-link">
      Kosár <span class="cart-badge">{{ cartCount() }}</span>
    </a>
    <a mat-button routerLink="/checkout">Megrendelés</a>
  </span>
  <a mat-button routerLink="/tickets">Hibajegyek</a>
  <a mat-button routerLink="/login">Teszt belépés</a>
</mat-toolbar>
