<mat-toolbar color="primary">
  <div class="navbar-top">
    <span style="font-weight: bold; font-size: 1.4rem">📱 Telefonfix</span>
    <span class="nav-buttons">
      <a routerLink="/">Főoldal</a>
      <a routerLink="/products">Termékek</a>
      <a routerLink="/cart" class="cart-link">
        Kosár <span class="cart-badge">{{ cartCount() }}</span>
      </a>
      <a routerLink="/checkout">Megrendelés</a>
      <a routerLink="/tickets">Hibajegyek</a>
      <a routerLink="/login">Teszt belépés</a>
    </span>
  </div>
</mat-toolbar>
