<mat-card
  style="
    width: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  "
>
  <!-- Kép -->
  <img
    mat-card-image
    [src]="product.image"
    alt="{{ product.name }}"
    style="height: 200px; object-fit: cover"
  />

  <!-- Terméknév + tartalom -->
  <mat-card-content
    style="
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    "
  >
    <h3 style="font-size: 1.4em; font-weight: bold; margin: 12px 0 8px 0">
      {{ product.name }}
    </h3>
    <p>{{ product.description | truncate : 60 }}</p>
    <p>
      <strong style="font-size: 1.1em">
        {{ product.price | priceSpace }}
      </strong>
    </p>
  </mat-card-content>

  <!-- Gombok -->
  <mat-card-actions style="gap: 8px">
    <a [routerLink]="['/products', product.id]">
      <button mat-raised-button color="primary">Részletek</button>
    </a>
    <button mat-raised-button color="primary" (click)="addToCart.emit(product)">
      Kosárba
    </button>
  </mat-card-actions>
</mat-card>
