<mat-card [class.highlighted]="highlighted" class="product-card">
  <!-- Kép -->
  <img
    mat-card-image
    [src]="product.image"
    alt="{{ product.name }}"
    style="height: 200px; object-fit: cover"
  />

  <!-- Terméknév + tartalom -->
  <mat-card-content>
    <h3>{{ product.name }}</h3>
    <p>{{ product.description | truncate : 60 }}</p>
    <p>
      <strong>{{ product.price | priceSpace }}</strong>
    </p>
  </mat-card-content>

  <!-- Gombok -->
  <mat-card-actions style="gap: 8px">
    <button
      mat-raised-button
      color="primary"
      (click)="product.id && viewDetails.emit(product.id)"
    >
      Részletek
    </button>
    <button mat-raised-button color="primary" (click)="addToCart.emit(product)">
      Kosárba
    </button>
  </mat-card-actions>
</mat-card>
