<div class="cart-wrapper">
  <h2>Kosár</h2>

  <div *ngIf="cartItems.length === 0" class="empty">A kosár üres.</div>

  <div *ngFor="let item of cartItems; let i = index" class="card">
    <h3>{{ item.product.name }}</h3>
    <p>{{ item.product.description | truncate : 80 }}</p>
    <p>
      <strong>{{ item.product.price | priceSpace }}</strong>
    </p>
    <p>Mennyiség: {{ item.quantity }}</p>
    <div class="full-width">
      <button mat-raised-button (click)="removeItem(i)">Eltávolítás</button>
    </div>
  </div>

  <div class="button-wrapper" *ngIf="cartItems.length > 0">
    <button mat-raised-button (click)="clearCart()">Kosár ürítése</button>
  </div>
</div>
